@font-face {
  font-family: Noto-Sans;
  src: url(/fonts/NotoSansJP-Regular.ttf);
}
:root {
  --backGround-dark: #d2deec;
  --main-color: #bb2658;  
  --text: #5f6877;
  --font-size: x-large;
  --font-size-medium: large;
  --font-size-small: small;
  --font-weight: 600;
  --font-family: Noto-Sans;
  --backGround-bright: #e5eef7;
  --brShadow: 6px 6px 15px #9c9ea2;
  --tlShadow: -6px -6px 15px #feffff;
  --brShadow-small: 1px 1px 1px #9c9ea2;
  --tlShadow-small: -1px -1px 1px #feffff;
  --insetDarkShadow: #bfd0df;
  --insetBrightShadow: #f0f5fa;
  --darkShadow: #bac8d9;
  --brightShadow: #dae4f1;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  background-color: var(--backGround-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--text);
}
.kanji {
  color: var(--backGround-bright);
  font-size: 6em;
  font-weight: bold;
  font-family: Noto-Sans;
  text-transform: uppercase;
  text-shadow: var(--brShadow), var(--tlShadow);
  position: relative;
}
.button {
  width: fit-content;
  height: 1.5rem;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}


.login-fragment {
  width: calc(min(40%,400px));
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 30px;
  background-color: var(--backGround-bright);
  box-shadow: 20px 20px 60px #bac8d9, -20px -20px 60px #dae4f1;
}
.fade-in{
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.hidden{
  opacity:0;
  pointer-events: none;
}
.button-login {
  background-color: var(--backGround-bright);
  border-radius: 50px;
  border: none;
  width: 7rem;
  box-shadow: 4px 4px 10px var(--insetDarkShadow),
    -4px -4px 10px var(--insetBrightShadow);
  color: var(--text);
  cursor: pointer;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight);
  padding: 15px 40px;
  transition: all 0.5s ease-in-out;
}
.small {
  font-size: var(--font-size-small);
}
.button-login:hover {
  background: linear-gradient(145deg, #bdc8d4, #e1eefd);
  box-shadow: inset 2px 2px 5px var(--insetDarkShadow),
    inset -2px -2px 5px var(--insetBrightShadow), 2px 2px 5px var(--darkShadow),
    -2px -2px 5px var(--brightShadow);
}
.loginForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--main-color);


}
.form-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0px 5px 5px;
 margin-top: 3%;
 margin-bottom: 3%;
  width: 100%;
  height: 2rem;
  
}
footer {
  position: absolute;
  width: 75%;
  height: 2rem;
  display: flex;
  font-size: medium;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}
footer a{
  color: var(--text);
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}
footer a:active{
  color: var(--text);
}

