
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  width: 100vw;
  height: 100vh;
  background-color: var(--backGround-dark);
  font-size: medium;
  color: var(--text);
}
:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.section{
  height: 100%;
}
/* USER SECTION */
  .user-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .posts-section{
    width: 40%;
  }
  .extra-section{
    width: 30%;
  }
  .user-profile-info{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  /* box-shadow: 20px 20px 60px #bac8d9, -20px -20px 60px #dae4f1; */
  .user-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: 20px 20px 60px var(--darkShadow),
      -20px -20px 60px var(--insetBrightShadow);
      overflow: hidden;
  }
  .user-picture img{
    width: 250px;
    height: 250px;
  }
  .preferences{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    top: 2%;
    left: 25%;
    color: var(--text);
    box-shadow: 4px 4px 8px var(--darkShadow),
      -4px -4px 8px var(--insetBrightShadow);
      border-radius: 10px;
    transition: all 0.5s ease-out;

  }
  .preferences p{
    position: relative;
    top: -55%;
    width: 50%;
    height: 50%;
    text-align: center;
  }
  .preferences:hover{
    color: var(--main-color);
    background: linear-gradient(145deg, var(--darkShadow), var(--brightShadow));

  }
  .user-menu{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .menu-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    background-color: var(--backGround-bright);
      box-shadow: 10px 10px 40px var(--darkShadow),
      -10px -10px 40px var(--insetBrightShadow);
    border-radius: 10px;
  }
  .menu-bar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 10px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, var(--darkShadow), var(--brightShadow));
  }

  .menu-option{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .front{
    width: 20%;
    height: 70%;
    border-radius: 50px;
    box-shadow: inset 8px 8px 8px #bfd0df, inset -8px -8px 8px #f0f5fa;
  }
  .front:hover{
    box-shadow: inset 8px 8px 8px #f0f5fa, inset -8px -8px 8px #bfd0df;

  }
  .back:hover{
    background: linear-gradient(145deg, var(--darkShadow), var(--brightShadow));

  }
  .back{
    width: 20%;
    height: 70%;
    border-radius: 50px;
    background: none;
    box-shadow: 4px 4px 8px var(--insetDarkShadow),
      -4px -4px 8px var(--brightShadow);
  }
  .menu-option-display{
    height: 90%;
    width: 100%;
    /* background: linear-gradient(145deg, var(--brightShadow), var(--darkShadow));
    box-shadow: 4px 4px 8px var(--insetDarkShadow),
      -4px -4px 8px var(--insetBrightShadow); */
  }

  .display-option{
    width: 100%;
    height: 100%;
  }
  .displayed{
    display: block;
  }
  .not-displayed{
    display: none;
  }
  .button:hover{
    background: linear-gradient(145deg, #bdc8d4, #e1eefd);
    box-shadow: inset 2px 2px 5px var(--insetDarkShadow),
      inset -2px -2px 5px var(--insetBrightShadow), 2px 2px 5px var(--darkShadow),
      -2px -2px 5px var(--brightShadow);
  }
/* POSTS SECTION */
  .posts-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: inset 8px 8px 8px var(--darkShadow), inset -8px -8px 8px var(--brightShadow);

  }
  .filters{
    margin-top: 2%;
    width: 85%;
    height: 5%;
    background-color: var(--backGround-bright);
      box-shadow: 4px 4px 8px var(--darkShadow),
      -4px -4px 8px var(--brightShadow);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .filter{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text);
    font-size: small;
  }
  .filter:hover{
    color: var(--main-color);
  }
  .middle{
    border: 10px solid;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to top, var(--darkShadow), var(--brightShadow));
  }
  .selected-filter.middle{
    background: linear-gradient(145deg, var(--insetDarkShadow), var(--insetBrightShadow));
    color: var(--main-color);
  }
  .selected-filter.start{
     border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(145deg, var(--insetDarkShadow), var(--insetBrightShadow));
    color: var(--main-color);
  }
  .selected-filter.end{
     border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(145deg, var(--insetDarkShadow), var(--insetBrightShadow));
    color: var(--main-color);
  }
  .middle:hover{
    background: linear-gradient(145deg, var(--insetDarkShadow), var(--insetBrightShadow));
  }
  .start:hover{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(145deg, var(--insetDarkShadow), var(--insetBrightShadow));
  }
  .end:hover{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(145deg, var(--insetDarkShadow), var(--insetBrightShadow));
  }
  .posts-container{
    height: 90%;
    width: 100%;
    padding: 2%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post{
    border-radius: 10px;
    background-color: var(--backGround-bright);
    height: 25%;
    width: 99%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    font-size: medium;
  }
  .post-owner{
    width: 100%;
    height: 20%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .post-owner img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 3%;
  }
  .post-content{
    width: 100%;
    height: 60%;
    border: 10px solid;
    border-left: none;
    border-right: none;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, var(--darkShadow), var(--brightShadow));
    font-size: small;
    padding: 1%;
    text-align: justify;
  }
  .post-stats{
    width: 100%;
    height: 20%;
  }
.fade-in{
  opacity: 1;
  transition: all 1s ease-out;
}
.hidden{
  opacity:0;
  pointer-events: none;
}